<h1>Users:</h1>
<div class="users">
    {{#each users}}
        <div class="card">
            <div class="card-text">{{this.login}}</div>
            <div class="card-text">{{this.email}}</div>
            <div class="">{{formatDate this.registrationDate }}</div>
        </div>
    {{/each}}
</div>