<h1>User</h1>
<div class="user">
    <div>
        <span>Login:</span>
        <span id="login" class="text-color-accent" contenteditable="true">{{user.login}}</span>
    </div>
    <div>
        <span>Email:</span>
        <span id="email" class="text-color-accent" contenteditable="true">{{user.email}}</span>
    </div>
    <div>
        <span>Registration Date:</span>
        <span class="text-color-accent">{{formatDate user.registrationDate}}</span>
    </div>
    <input id="id" hidden disabled value="{{user._id}}">
    <div>
        <button id="delete" class="button delete">Delete</button>
        <button id="update" class="button update">Update</button>
    </div>
    
</div>


<script defer src="/js/handleDeleteUser.js"></script>
<script defer src="/js/handleUpdateUser.js"></script>
