<h1>User</h1>
<div class="user">
    <div>
        <span>Login:</span>
        <span class="text-color-accent">{{user.login}}</span>
    </div>
    <div>
        <span>Email:</span>
        <span class="text-color-accent">{{user.email}}</span>
    </div>
    <div>
        <span>Registration Date:</span>
        <span class="text-color-accent">{{formatDate user.registrationDate}}</span>
    </div>
    <input id="id" hidden disabled value="{{user._id}}">
    <button id="delete" class="button">Delete</button>
</div>


<script defer src="/js/handleDeleteUser.js"></script>
