.card {
    position: relative;
    background-color: var(--primary);
    overflow: hidden;
    padding: 20px;
    width: 224px;
    height: 100px;

    cursor: pointer;

    .card-text {
        color: var(--text);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.card:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: var(--accent);
}

.card:hover {
    filter: brightness(110%);
}
