{{> buttons loggedIn=true}}

<h1>Rooms</h1>
<form class="form" id="chat-form">
    {{#each rooms}}
    <div onclick="window.location.pathname = '/room/{{this._id}}'" class="card">
        <div class="card-text">{{this._id}}</div>
    </div>
    {{/each}}
</form>