<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Web app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script defer src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script defer src="/js/getElementsById.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    {{!-- <div class="buttons">
        <button class="button home" onclick="window.location.pathname = '/'">Home</button>
        <button class="button add-user" onclick="window.location.pathname = '/new'">Add user</button>
        <button class="button login" onclick="window.location.pathname = '/login'">Login</button>
        <button class="button logout" onclick="window.location.pathname = '/logout'">Logout</button>
    </div> --}}
    {{{body}}}
</body>

</html>