<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Web app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script defer src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script defer src="/js/getElementsById.js"></script>
</head>

<body>
    <button class="button home" onclick="window.location.pathname = '/'">Home</button>
    <button class="button add-user" onclick="window.location.pathname = '/new-user'">Add user</button>
    {{{body}}}
</body>

</html>