html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --bg: #000000;
    --primary: #009dff;
    --secondary: #5d00ff;
    --accent: #FB2576;
    --text: white;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

.users-list{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}


.users-list-general {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.users-list-general > div {
    width: 100%;
}

.users-list-header {
    background-color: var(--primary);
    /* color: var(--accent); */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 4px;
}

.users-list-users{
    border-left: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
}

.users-list-item {
    color: var(--accent);
    font-size: 1.5rem;
}