.users {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user {
    display: grid;
    place-content: center;
    gap: 10px;

    margin: 40px 10% 0 10%;

    .text-color-accent {
        color: var(--accent);
    }

    div {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 20px;

        span {
            padding: 0.5em;
        }

        span:focus {
            outline: none;
            box-shadow: 0 0 0 0.125rem var(--primary);
        }
    }
}